<ion-content [fullscreen]="true">
    <ion-card> 
        <ion-card-header>
            <ion-card-title>
                <div class="title">
                    <div>
                        Turnieje
                    </div>
                    <div>
                        <ion-button color="success" routerLink="/admin/tournament/new" (click)="addTournament($event)">
                            <ion-icon slot="start" name="add-outline"></ion-icon>
                            Dodaj
                        </ion-button>
                        <ion-button color="tertiary" (click)="test($event)">
                            <ion-icon slot="start" name="play-outline"></ion-icon>
                            Test {{ tStore.isLoading() ? 'Ładowanie...' : 'Ładowanie zakończone' }}
                        </ion-button>
                    </div>
                </div>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div class="tournament-cards">
            @for (tournament of availableTournaments() || []; track $index) {
                <ion-card class="tournament-card">
                    <ion-card-header>
                        <ion-card-title>
                           {{ tournament.name }} 
                        </ion-card-title>
                        <ion-card-subtitle>
                            {{ tournament.start_date | date: 'dd.MM.yyyy' }} - {{ tournament.end_date | date: 'dd.MM.yyyy' }}
                        </ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                        {{ tournament.description }}
                    </ion-card-content>

                    <div class="tournament-card-buttons">
                        <ion-button fill="clear" color="danger" (click)="removeTournament(tournament, $event)">
                            <ion-icon slot="start" name="trash-outline"></ion-icon>
                            Usuń
                        </ion-button>
                        <ion-button fill="clear" (click)="editTournament(tournament, $event)">
                            <ion-icon slot="start" name="create-outline"></ion-icon>
                            Edytuj
                        </ion-button>
                    </div>
                </ion-card>
            }
            </div>
        </ion-card-content>
        
    </ion-card>
</ion-content>