<ion-app>

  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>DCS Volley</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-menu contentId="main-content" type="push">
    <ion-content>
      <ion-list id="inbox-list">
        <!-- <ion-list-header>DCS Volley</ion-list-header>
          <ion-note>System ligi siatkówki</ion-note> -->

        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="/tournaments" lines="none" detail="false"
            routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" name="balloon-outline"></ion-icon>
            <ion-label>Zawody</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="labels-list">
        <ion-item routerDirection="root" routerLink="/login" detail=false routerLinkActive="selected" lines="none">
          <ion-icon aria-hidden="true" slot="start" name="person-outline"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <div class="mt-3">
      <ion-router-outlet></ion-router-outlet>
    </div>
  </div>

  <ion-toast></ion-toast>

</ion-app>